@font-face {
    font-family: 'alphaeco'; /*a name to be used later*/
    src: url('/fonts/CloisterBlack.ttf'); /*URL to font*/
}

body{
  font : .8em sans-serif;
  margin: 0;
}

.tab-container {
  background-image: -webkit-linear-gradient(bottom, #0327a7, #0033e6);
  background-image: linear-gradient(bottom, #0327a7, #0033e6);
  margin: 0;
  padding: 0;
  height:35px;
}

ul.tabs{
  margin: 0;
  list-style-type : none;
  line-height : 35px;
  max-height: 35px;
  overflow: hidden;
  display: inline-block;
  padding-left:30px;
  padding-right: 20px
}

ul.tabs > li.active{
  z-index: 2;
  color:green !important;
  background: #154360;
  vertical-align: middle;
}

ul.tabs > li.active > a {
  color:green;
}

ul.tabs > li.active:before{
  border-color : transparent #154360 transparent transparent;
}


ul.tabs > li.active:after{
  border-color : transparent transparent transparent #154360;
}

ul.tabs > li{
  float : right;
  margin : 5px -10px 0;
  border-top-right-radius: 25px 170px;
  border-top-left-radius: 20px 90px;
  padding : 0 30px 0 25px;
  height: 170px;
  background: #ddd;
  position : relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  max-width : 200px;
}


ul.tabs > li > a{
  display: inline-block;
  max-width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #333;
  margin-top:3px;
}

ul.tabs > li:before, ul.tabs > li:after{
  content : '';
  background : transparent;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 10px;
  top: 0px;
  border-style : solid;
  position : absolute;
}

ul.tabs > li:before{
  border-color : transparent #ddd transparent transparent;
  -webkit-transform : rotate(48deg);
  left: -23px;
}

ul.tabs > li:after{
  border-color : transparent transparent transparent #ddd;
  -webkit-transform : rotate(-48deg);
  right: -17px;
}

/* Clear Fix took for HTML 5 Boilerlate*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#app-title {
    clear:right;
    float:left;
    font-family: alphaeco;
    margin:0 30px;
    margin-top: -3px;
    font-size: 25px;
    cursor: pointer;
}

#app-title:hover + #app-information, #app-information:hover {
    display:block;
}


#preview-container {
	background:#666;
	position:relative;
	top:40px;
        right:40px;
        width:360px;
        margin:auto;
	padding:3px;
	border-radius:5px;
	border-top:1px solid #777;
	border-left:1px solid #777;
	border-right:1px solid #444;
	border-bottom:1px solid #444;
	box-shadow:0px 2px 5px 1px rgba(0,0,0,0.4);
}

.sidebar {
    position:absolute;
    left:0; top:38px; bottom:0;
    margin:0; background:#333;
    width:180px;
}
#app-information {
    position:absolute;
    top:36px; width:120px;
    background:2342;
    border-radius: 7px;
    left:20px; padding:17px;
    list-style:none;
    border:5px solid #eee;
    display: none;
}

#app-information > li {
    cursor: pointer
    
}

#app-information:before {
    content: "";
    
    
}

.ui-state-active {
    background:#fff;
}


.player-heading {
    margin:3px 14px;
}

.videoSrc {
    background:#5e5ef7;
    margin:3px 15px;
    border-radius:7px;
    padding:5px;
    z-index:100;
}

.audioSrc {
    background:#802200;
    margin:3px 15px;
    border-radius:7px;
    padding:5px;
    z-index:100;
}

.documentSrc {
    background:white;
    color:black;
    margin:3px 15px;
    border-radius:7px;
    padding:5px;
    z-index:100;
}

#media-search-results {
    list-style:none;
    padding:12px 6px;
}

.pinned-widget-title {
    text-decoration: underline;
    text-decoration-color: green;
    width:100%;
}

.pinned-widget {
    border-right: 3px solid green;
    margin-bottom: 10px;
    background: #4e4e4e;
    min-height: 100px;
}

.ui-state-active {
    background:#543360 !important;
}

.ui-state-highlight {
    background:#21c64d !important;
}

.cover {
    position: absolute;
    left:3px; right:3px; top:35px;
    bottom:7px; background:#7808aa;
    text-align: center;
}

#keyboardShortcuts {
    display:none;
}

.controls {
    display: inline-block;
    
}

.controls li {
    position: relative;
    width:150px;    
}
.alert {
    background:#767600;
}
